*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */

#header{
    background-color: bisque;
    padding: 15px 0;
    height: 200px;
}

#header,
.commands{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}

#main{
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 200px);
    
}

#container-grid{
    margin: 30px;
    height: 500px;
    width: 500px;
    border: 3px solid black;
    display: flex;
    flex-wrap: wrap;
}

.box{
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.box.easy{
    width: 10%;
    height: 10%;;
}

.box.medium{
    width: calc(100% / 9);
    height: calc(100% / 9);;
}

.box.hard{
    width: calc(100% / 7);
    height: calc(100% / 7);
}

.box.clicked{
    background-color: rgb(25, 230, 226);
}

.box.bomb{
    background-color: rgb(156, 15, 15);
}

.score{
    padding-top: 30px;
}